body{

  padding: 0px;
  margin: 0px;
}

/*
#UpperMenu{
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #0096c3;

  display:flex;
  align-items: center;
  justify-content: center;
}

#UpperMenu ul{

  margin: 0px;
}

#UpperMenu li{

  display: inline;
  margin: 0px 50px;
  font-size: 28px;
  font-family: "Rubik";
  font-weight: bold;
  color: white;

}

#UpperMenu li:hover{

  cursor: pointer;
  text-decoration: underline;
}

#UpperMenu img{

    height: 50px

}

#PictureSpace{

  background-color: #ddd;
  width: 100%;
  height: 600px;
  text-align: center;
  font-family: "Rubik";
  font-weight: bold;
  color: white;

  display:flex;
  align-items: center;
  justify-content: center;


}

#PictureSpace img{

  height: 50%;

}


#DescriptionSpace{

    background-color: #ccc;
    width: 100%;
    height: 600px;
    text-align: center;
    font-family: "Rubik";
    font-weight: bold;
    color: white;

    display:flex;
    align-items: center;
    justify-content: center;
}

#CreditsSpace {

  width: 100%;
  height: 100%;

  background-color: #0096c3;

  display:flex;
  align-items: center;
  justify-content: center;

}

#CreditsSpace li{

  display: inline;
  margin: 0px 50px;
  font-size: 15px;
  font-family: "Rubik";
  font-weight: bold;
  color: white;
}

#CreditsSpace ul{

  margin 0px;
}


h1{

  font-family: "Rubik";
  font-weight: bold;
  font-size: 45px;
}

p{

  font-family: "Rubik";
  font-weight: bold;
  font-size: 28px;

}
*/
